<div class="container-fluid">
    <div class="row" style="height: 50px;background-color: black;">
    
        <div class="col-1"  ></div>
    
        <div class="col-2" id="id1">Top 10 </div>
    
        <div class="col-2" id="id1">Upcoming</div>
    
        <div class="col-2" id="id1"> Best Picks</div>
    
        <div class="col-2" id="id1"> <a routerLink="/compare" style="text-decoration: none; color: white;">Compare  </a></div>
    
        <div class="col-2" id="id1"><button type="button" class="btn btn-dark" (click)="logout()">Logout</button></div>
    
    
        </div>
        <div class="row " style="height: 2px;background-color: rgba(157, 240, 23, 0.863);"></div>

    
    <div class="row mt-4" style="height: 40px;">
    
    <div class="col-1"></div>

    <div class="col-10" style="color: white; font-weight: bold;display: flex; align-items: center; font-size: 22px;background-color: black;">Popular Mobiles</div>

    </div>
    <!-- row4 -->

    <div class="container">
    <div class="row" style="height: 2px; background-color: rgba(157, 240, 23, 0.863);"></div>
        </div>


        
        <!-- row5 -->

        <div class="row mt-5 " style="height: 270px;  ">
            
            <div class="col-1" ></div>

            <div class="col-1" > <img src="/assets/xiaomi-redmi-9.jpg" alt="redmi9"></div>

            <div class="col-1" ></div>

            <div class="col-1" > <img src="/assets/m311.jpg" style="height: 300px; width: 180px; margin-top: -42px; " alt=""></div>


            <div class="col-1"></div>

            <div class="col-1"><img src="/assets/OnePlus-Nord-Lite-600x600.jpg" style="height: 240px; width: 250px; margin-top: -15px; margin-left: -20px;" alt=""></div>

            
            <div class="col-1"></div>
            
            <div class="col-1"><img src="/assets/download.jpg" style="height: 210px;  width: 250px; margin-top:5px;" alt=""> </div>

            <div class="col-1"></div>

            <div class="col-1"><img src="/assets/oppo-reno-2z-reno-2f-1.jpg" style="height: 230px;  width: 250px; margin-top: -10px;" alt=""></div>
            
         <!-- //<div class="col-1"> <img src="xiaomi-redmi-9.jpg" alt="redmi9"></div> -->
        </div>


        <!-- row6 -->

        <div class="row bg-dark" style="height: 50px; display: flex; align-items: center; ">
        
        <div class="col-1"></div>

        <div class="col-2" style="color: white; margin-left: 10px;">xiaomi-redmi-9</div>
        

        <div class="col-2" style="color: white;display: flex; justify-content: center;">Samsung M31</div>
        

        <div class="col-2" style="color: white;display: flex; justify-content: center;">OnePlus Nord Lite</div>
        

        <div class="col-2" style="color: white;display: flex; justify-content: center;">RealMe V5</div>
        

        <div class="col-2" style="color: white;display: flex; justify-content: center;">Oppo Renno 2f</div>
        
    
    
    </div>





    
    

    
    



</div>

