<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

   
    

    <div class="container-fluid">
      <div class="row " style="height: 50px;background-color: black;">
    
        <div class="col-1"  ></div>
    
        <div class="col-2" id="id1">Top 10 </div>
    
        <div class="col-2" id="id1">Upcoming</div>
    
        <div class="col-2" id="id1"> Best Picks</div>
    
        <div class="col-2" id="id1"> <a routerLink="/compare" style="text-decoration: none; color: white;">Compare  </a></div>
    

        <div class="col-2" id="id1">
          <button  class="btn btn-dark" (click)="logout()">Logout</button>
        </div>
    
    
        </div>
        <div class="row " style="height: 2px;background-color: rgba(157, 240, 23, 0.863);"></div>

    <div class="container" >
      <div>
      <div class="row  mt-5 " style="height: 400px;">
      
      <div class="col-6" > <img src="/assets/xiaomi-redmi-9.jpg" alt="redmi9" style="margin-left: 80px;"><img src="/assets/m311.jpg" style="height: 300px; width: 180px; margin-left: 80px;">
        
        <div style="display: flex;justify-content: center;">Redmi9 Vs Samsung M31</div>
        <div style="display: flex;justify-content: center;">
        <div class="btn btn-light" style="color: black;">
          <a  routerLink="/redsam" style="color: 
          black;">Compare</a>
</div>
        <!-- <input type="button" class="btn btn-light"  >  -->
      
      </div>
      
      </div>

      <div class="col-6 "><div style="margin-top:40px;"> <img src="/assets/OnePlus-Nord-Lite-600x600.jpg" style="height: 240px; width: 240px; margin-top: -15px; margin-left: 40px;" alt=""><img src="/assets/download.jpg" style="height: 215px;width: 200px; margin-left: 40px;" alt=""></div>
        
        <div style="display: flex;justify-content: center;margin-top: 30px;">OnePlusNord Vs RealMe</div>
        <div style="display: flex;justify-content: center;">
          <div class="btn btn-light" style="color: black;">
            <a  routerLink="/onereal" style="color: 
            black;">Compare</a>
  </div>
      </div>
      
      </div>
      
      </div>

      <div class="row  mt-5 " style="height: 400px;">
      
        <div class="col-6" > <div style="margin-top: 35px;"><img src="/assets/xiaomi-redmi-9.jpg" alt="redmi9" style="margin-left: 80px;"><img src="/assets/download.jpg" style="height: 220px; width: 240px; margin-left: 40px;"></div>
          
          <div style="display: flex;justify-content: center;margin-top: 42px;">Redmi9 Vs RealMe</div>
          <div style="display: flex;justify-content: center;">
            <div class="btn btn-light" style="color: black;">
            <a  routerLink="/redreal" style="color: 
            black;">Compare</a>  
            </div>      
        </div>
        
        </div>
  
        <div class="col-6 "><div style="margin-top:40px;"> <img src="/assets/OnePlus-Nord-Lite-600x600.jpg" style="height: 240px; width: 240px; margin-top: -15px; margin-left: 40px;" alt=""><img src="/assets/xiaomi-redmi-9.jpg" style="height: 215px;width: 200px; margin-left: 40px;" alt=""></div>
          
          <div style="display: flex;justify-content: center;margin-top: 30px;">OnePlusNord Vs Redmi9</div>
          <div style="display: flex;justify-content: center;">
            <div class="btn btn-light" style="color: black;">
            <a  routerLink="/redone" style="color: 
            black;">Compare</a>         
        </div>
        </div>

        
        </div>
        
        </div>


        <div class="row  mt-5 " style="height: 400px;">
      
          <div class="col-6" > <img src="/assets/OnePlus-Nord-Lite-600x600.jpg" alt="redmi9"  style="height: 240px; width: 240px; margin-top: -15px; margin-left: 40px;"><img src="/assets/m311.jpg" style="height: 300px; width: 180px; margin-left: 40px;">
            
            <div style="display: flex;justify-content: center;">OnePlusNord Vs Samsung M31</div>
            <div style="display: flex;justify-content: center;">
            <div class="btn btn-light" style="color: black;">
              <a  routerLink="/onesam" style="color: 
              black;">Compare</a>
              </div>

          </div>
          
          </div>
    
          <div class="col-6 "><div style="margin-top:px;"><img src="/assets/download.jpg" style="height: 220px; width: 240px; margin-left: 40px;"><img src="/assets/m311.jpg" style="height: 300px; width: 200px; margin-left: 40px;"></div>
            
            <div style="display: flex;justify-content: center;">RealMe Vs Samsung M31</div>
            <div style="display: flex;justify-content: center;">
              <div class="btn btn-light" style="color: black;">
              <a  routerLink="/realsam" style="color: 
              black;">Compare</a>          
          </div>
          </div>
          
          
          </div>
          
          </div>



    </div>

    

</div>

