<div class="container-fluid">
    <div class="row" style="height: 50px;background-color: black;">
    
        <div class="col-1"  ></div>
    
        <div class="col-2" id="id1">Top 10 </div>
    
        <div class="col-2" id="id1">Upcoming</div>
    
        <div class="col-2" id="id1"> Best Picks</div>
    
        <div class="col-2" id="id1"> <a routerLink="/compare" style="text-decoration: none; color: white;">Compare  </a></div>
    
        <div class="col-2" id="id1"><button type="button" class="btn btn-dark"  (click)="logout()">Logout</button></div>
    
    
        </div>
        <div class="row " style="height: 2px;background-color: rgba(157, 240, 23, 0.863);"></div>
        
    <div class="row mt-5">

        <div class="col-6">

            <div>Realme</div>

            <div>
                <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Specs</th>
                        <th scope="col"></th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>RAM</td>
                        <td>6GB</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Processor</td>
                        <td>2Ghz</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Memory</td>
                        <td>128GB</td>
                        
                      </tr><tr>
                        <th scope="row">4</th>
                        <td>Price</td>
                        <td>13000</td>
                        
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div style="text-decoration: none;" class="btn btn-dark"><a routerLink="/buy3">BUY</a></div>        </div>
        <div class="col-6">

            <div>SamsunM31</div>

            <div>
                <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Specs</th>
                        <th scope="col"></th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>RAM</td>
                        <td>4GB</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Processor</td>
                        <td>2Ghz</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Memory</td>
                        <td>64GB</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Price</td>
                        <td>16000</td>
                        
                      </tr>
                    </tbody>
                  </table>
                  <div style="text-decoration: none;" class="btn btn-dark"><a routerLink="/buy2">BUY</a></div>
            </div>
        </div>
        




    </div>


    
    
    
    
    
    
    </div>


        