<div class="container-fluid">
    <div class="row" style="height: 50px;background-color: black;">
      
      <div class="col-1"  ></div>
  
      <div class="col-2" id="id1">Top 10 </div>
  
      <div class="col-2" id="id1">Upcoming</div>
  
      <div class="col-2" id="id1"> Best Picks</div>
  
      <div class="col-2" id="id1"> <a routerLink="/compare" style="text-decoration: none; color: white;">Compare  </a></div>
  
      <div class="col-2" id="id1"><button type="button" class="btn btn-dark">Logout</button></div>
  
  
      </div>
      <div class="row " style="height: 2px;background-color: rgba(157, 240, 23, 0.863);"></div>
      </div>


<div class="container" style="display: flex; justify-content: center;"><img src="/assets/404.jpg" alt="" style="height:600px;"></div>