<div class="container-fluid">
    <!-- <div class="row" style="height: 50px;background-color: black;">
    
        <div class="col-1"  ></div>
    
        <div class="col-2" id="id1">Top 10 </div>
    
        <div class="col-2" id="id1">Upcoming</div>
    
        <div class="col-2" id="id1"> Best Picks</div>
    
        <div class="col-2" id="id1"> <a routerLink="/compare" style="text-decoration: none; color: white;">Compare  </a></div>
    
        
    
    
        </div> -->
        <div class="row " style="height: 2px;background-color: rgba(157, 240, 23, 0.863);"></div>


    <div class="row mt-1 justify-content-center" style="height: 500px; ">
        <div
          class="col-12 col-md-6  rounded d-flex 
          justify-content-center align-items-center "
         >
        <div class="loginbox" style="margin-top: 20px;border-radius: 10px;" [formGroup]="fbFormGroup">
            <img src="./assets/user.png" class="user" style="border-radius: 50%;">
                    <h3>Delete account</h3>
                    
                    <div style="margin-top: 40px;">
                        <input type="text" name="" placeholder="Enter Email" class="form-control" formControlName="email" > 
                      </div>
                      <div>
                        <input type="password" name="" placeholder="Enter New Password"  class="form-control" formControlName="password" >
                      </div>
                      
                        
                        <input type="submit"  value="Delete"  class="btn btn-outline-dark" (click)="delete()">
                        <div  >
                          {{fbFormGroup.value | json}}
                        </div> 
                        
                     
                </div>
        </div>
      </div>
            



</div>
